VITE_FIREBASE_API_KEY=AIzaSyB8fur0gHG4dTg52WPXl1wxBY4FFzAjVCo
VITE_FIREBASE_AUTH_DOMAIN=enactusmsaorg.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=enactusmsaorg
VITE_FIREBASE_STORAGE_BUCKET=enactusmsaorg.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=687664333090
VITE_FIREBASE_APP_ID=1:687664333090:web:fc3eea29e3c3e20dc7a57b
